name: entlz-7a-platform-compliance-cmmc

env:
  entlzprefix: elz1
  environment: azureusgovernment
  location: usgovvirginia

# Controls when the action will run. 
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  push:
    branches:
      - dev
    paths:
      - '.github/workflows/entlz-7a-platform-compliance-cmmc.yml'

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
          with:
            ref: dev        
        - name: Log in with Azure
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZGOV_CREDS }}
            environment: ${{ env.environment }}
            enable-AzPSSession: false